.user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  &_dropdown {
    position: relative;

    padding-right: 40px;

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      width: 16px;
      height: 8px;

      background: url(../assets/icons/dropdown.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__name {
    margin-right: 10px;
  }

  &__avatar {
    max-width: 47px;
  }
}

@import "media";