* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  padding: 0;
  margin: 0;

  background: $color-body;
}

body {
  &.scroll-lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.page {
  display: flex;

  flex: 1 1 auto;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1695px;

  padding: 0 15px;
  margin: 0 auto;
}

.min-container {
  max-width: 1585px;
  margin: 0 auto;
}


.flex {
  display: grid;
  grid-template-columns: 40% 43% 17%;
  grid-gap: 5px;
}

@import "media";