* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  padding: 0;
  margin: 0;

  background: $color-body;
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.page {
  display: flex;

  flex: 1 1 auto;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1695px;

  padding: 0 15px;
  margin: 0 auto;
}

.min-container {
  max-width: 1185px;
  margin: 0 auto;
}

@import "media";