.input {
  padding: 7px 14px;

  font-family: inherit;
  font-size: inherit;

  border-radius: $border-radius;
  border: $border-gray;
  outline: none;


  &_fullwidth {
    width: 100%;
  }

  &:focus {
    border-color: $color-primary;
  }
}

.input-submit {
  padding: 7px 14px;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: rgba(59, 65, 75, .8);
  border-radius: $border-radius;
  border: $border-gray;
  outline: none;
  text-align: start;

}

.input-width {
  max-width: 100%;
}

.textarea {
  max-width: 100%;

  padding: 7px 14px;

  font-family: inherit;
  font-size: inherit;

  border-radius: $border-radius;
  border: $border-gray;
  outline: none;
  height: 93px;
}

.items-option-end {
  margin: 10px 0;
}

.input-file-body {
  position: relative;

  width: 150px;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  font-size: 0;

  cursor: pointer;
}

.input-file-name {
  // display: none;

  margin-bottom: 10px;

  display: flex;
  align-items: center;

  &.filled {}
}

.input-file-text {
  position: relative;

  padding-left: 24px;
  margin-right: 30px;

  text-decoration: underline;

  &::after {
    content: "";

    position: absolute;
    top: 2px;
    left: 0;

    width: 12px;
    height: 16px;

    background: url(../assets/icons/file.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.input-file-remove {
  border: none;
  background: none;
  cursor: pointer;
}