.images {
    padding-left: 15px;
}

.arrow {
    position: relative;
    right: 50px;
}

.calendar {
    position: relative;
    right: 30px;
}
.line {
    line-height: 50px;
    padding-left: 8px;
}