.top {
    margin-top: 30px;
    &__title {
        font-size: 20px;
    }

    &-content {
        margin-top: 20px;
        max-width: 1365px;
        height: 413px;

        &__inner {
            display: grid;
            grid-template-columns: 35% 65%;
        }

        &-item__cover {
            background: #D9D9D9;
            max-width: 409px;
            height: 218px;
            border-radius: 8px;
        }

        &-item__input {
            width: 100%;
        }

        &-item__congif {
            display: flex;
            padding: 10px 70px;
        }

        &-item__congig-element {
            font-size: 16px;
            color: rgba(59, 65, 75, 0.8);
            text-decoration: underline;
            margin: 0 20px;
        }



        .top-content-item {

            &__items {
                display: flex;
                margin: 9px 0;
            }
    
            &__index {
                text-align: end;
                max-width: 100px;
            }

            &__title {
                line-height: 40px;
            }
        }

        &-time {
            display: flex;
            justify-content: space-between;
        }

        &-info {
            display: flex;
            max-width: 750px;
            padding-left: 300px;
            justify-content: space-between;

            &__subtitle {
                font-size: 10px;
                opacity: 0.8;
            }
        }

        .top-content-items-end {
            display: flex;
            margin-top: 10px;

            &__items {
                margin-left: 15px;
            }
        }     
    }
}

.items {
    margin-top: 20px;
    max-width: 1365px;
    min-height: 45px;

    &_btn {
        margin-top: 26px;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 20px;
    }

    &__stage {
        font-size: 18px;
        margin-top: 34px;
    }

    &-flex {
        display: flex;
        margin-top: 20px ;


        &-block {
            display: flex;
            padding-left: 80px;

            &__flex {
                display: flex;
                margin-left: 10px;
            }
        }
        &__title {
            font-size: 16px;
            line-height: 40px;
        }

        &__line {
            line-height: 40px;
        }
    }

    &-info-end {
        font-size: 10px;
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        padding-left: 320px;
        padding-top: 10px;
        opacity: 0.8;
    }

    .items-option {
        margin-top: 20px;
        display: flex;
    }

    &-end {
        display: flex;
        padding-top: 30px;

        &__info {
            padding-left: 10px;
        }
    }
    .btn_subtitle {
        font-size: 14px;
        opacity: 0.8;
        padding: 10px;
    }
}