.header {
  padding: 10px 0;

  background: $color-light;
  box-shadow: $box-shadow;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin: 0 auto;
  }

  &__nots {
    margin-right: 30px;
  }

  &__logo {
    margin: 0 15px;
  }


  &__logo-img {
    width: 30px;
  }
}

@import "media";