$color-primary: #2132CD;
$color-warning: #F3775B;

$color-body: #F9FAFB;
$color-border: #E8E9EC;

$color-text-primary: #3B414B;
$color-text-secondary: #898D93;

$color-light: #FFFFFF;
$color-gray: #A6AAB4;
$color-active: #F2F3F5;

$box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
$border-radius: 8px;
$border: 1px solid $color-primary;
$border-gray: 1px solid $color-border;